.mini-bar1{

   margin-top: 130px;
    height:50px;
    width:1920px;
 
 
top: 189px;

 
background: #FFFFFF;
box-shadow: 0px 20px 39px rgba(0, 0, 0, 0.03);
}
.main-column111{

margin-top:15px;


column-gap: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* identical to box height */
text-transform: capitalize;

/* Text 2 */
color: #4D4D4D;


}

.main-column10{
  
    margin-top: 15px;
    margin-left:150px;
 
    

}

.main-column111{
    margin-top: 14px;
    margin-left: 55px;
}

.arrows{
margin-left: 9px;

}

.main-row198{

    display: flex;
    align-items: center;
    height:90px;
    position: unset;
}